* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI',sans-serif;
    background-color: rgba(237, 226, 237, 0.667);
    line-height: 1.6;

}


form, .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 100px;
}



table {
    margin-top: 20px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    border-collapse: collapse;
    border: none;
    background-color: #fff;
}




 td, tr {
    border: 1px solid #ccc;
    
    padding: 10px;
    text-align: center;
}


input[type="text"] {
    font-weight: 600;
    width: 300px;
    padding: 20px 15px;
    border-width: 2px;
    background-color: lightblue;
    color: #f1f1f1;
    border-radius: 5px;

}

input[type="submit"] {
    font-weight: 600;
    padding: 20px 15px;
    width: 200px;
    color:#f1f1f1;
    background-color: coral;
    border-radius: 5px;
}


input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ff7f50;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

input[type="reset"] {
    font-weight: 600;
    padding: 20px 15px;
    width: 200px;
    color:#f1f1f1;
    background-color: coral;
    border-radius: 5px;
}




footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}